<div class="main posts-show">
  <div class="container">
  <a href="/posts/index">一覧に戻る</a>
    <div class="top-wrapper">
      <h2>
        <%= @post.title %>
      </h2>
      <p>
        <%= link_to "編集", edit_post_path(@post.id), class: "btn" %>
      </p>
    </div>
    <table class="posts-show-item">
      <tr>
        <th>開始日</th>
        <td><%= @post.start_date.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>終了日</th>
        <td><%= @post.end_date.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td><% if @post.is_all_day == true %>
        ○
        <% else %>
        <% end %>
        </td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.memo %></td>
      </tr>
    </table>
  </div>
</div>